<html>
    <head>
        <title>
            git-stats | <%= @repository.name %>
        </title>
        <link type="text/css" href="/style.css" rel="stylesheet" />
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart", "table"]});
        </script>
    </head>
    <body>
        <div id="header">
            <h1>git-stats</h1>
            <h2><%= @repository.name %></h2>
        </div>

        <div id="content" <% if @multi then %>class="multi"<% end %>>
            <ul class="nav">
                <li <% if @select == 'general' then %>class="current"<% end %>><a href="/">general</a></li>
                <li <% if @select == 'activity' then %>class="current"<% end %>><a href="/activity">activity</a></li>
                <li <% if @select == 'contributors' then %>class="current"<% end %>><a href="/contributors">contributors</a></li>
            </ul>
            <%= yield %>
        </div>

        <div id="footer">
            Powered by <a href="http://www.sinatrarb.com/">sinatra</a>, <a href="http://github.com/schacon/ruby-git">ruby-git</a>, <a href="http://redis.io">redis</a> &amp; <a href="http://developers.google.com/chart">google charts</a>.<br/>
            <a href="http://github.com/blat/git-stats">Fork me on GithHub</a> — <a href="http://github.com/blat/git-stats/issues">Report an issue</a>
        </div>
    </body>
</html>
