html {
    background: white;
    color: black;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    padding: 0em;
}

body {
    width: 950px;
    margin: 1.8em auto;
    font-size: .9em;
    position: relative;
}

.nav {
    text-transform: lowercase;
    position: absolute;
    top: 0;
    right: 10px;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: lightgrey;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: grey;
}

.nav .current a {
    color: black;
}

#header {
    text-transform: lowercase;
    margin: 0;
    padding: 0 10px;
    margin-bottom: 20px;
}

#header h1, #header h2 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#header h1, a {
    color: grey;
}

#header h2 {
    color: black;
}

#footer {
    clear: both;
    text-align: right;
    margin-top: 20px;
    color: gray;
    padding: 0 10px;
    font-size: 0.8em;
}

#content {
    min-height: 90%;
}

dl,
.chart {
    display: inline-block;
    border: 1px solid lightgrey;
    margin: 10px;
    border-radius: 4px;
    padding-bottom: 2px;
    position: relative;
}

h3 {
    margin: 10px 20px;
}

.meta {
    position: absolute;
    top: 15px;
    right: 55px;
    margin: 0;
    padding: 0;
    color: grey;
}
.add {
    color: green;
}
.del {
    color: red;
}

small {
    color: grey;
}

dl {
    margin-left: 10px;
    padding: 10px;
}
dt, dd {
    display: inline-block;
    width: 650px;
    margin: 2px 0;
}
dt {
    font-weight: bold;
    width: 240px;
    text-align: right;
    margin-right: 10px;
}

